.shell {
  display: grid;
  grid-template-columns: var(--sidebar-w) 1fr;
  height: 100vh;
  overflow: hidden;
  background: var(--bg);
}

.main {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: 100vh;
}
